\documentclass{amsart}%abstract,lrcorner,newtheoremstyle,part,qed,qedsymbol,scriptsize,thepart,thmname,thmnote,thmnumber,ulcorner%amsthm,amsmath
\usepackage{amsmath}%Vert,align,align*,alignat*,aligned,bigvee,binom,bmatrix,implies,intertext,lVert,leftrightarrows,numberwithin,operatorname,overset,rVert,rightleftarrows,split,substack,tag,tfrac,triangleleft,underset,vmatrix,xleftarrow,xrightarrow
\usepackage{amssymb}%blacksquare,boxtimes,frak,gtrless,lessgtr,lesssim,mathbb,rightarrowtail,rightsquigarrow,sf,subsetneq,supsetneq
\usepackage{amsthm}%newtheorem,newtheoremstyle,qed,qedhere,theoremstyle,thmname,thmnote,thmnumber
\documentclass{article}%part
\usepackage{biblatex}%DeclareFieldFormat,DefineBibliographyStrings,addbibresource,adddot,bibstring,iflistundef,mkbibemph,ppspace,printbibliography,printlist,printtext,renewbibmacro
\usepackage{caption}%captionof
\usepackage{datetime}%currenttime
\usepackage{draftwatermark}%SetWatermarkAngle,SetWatermarkFontSize,SetWatermarkHorCenter,SetWatermarkLightness,SetWatermarkScale,SetWatermarkText,SetWatermarkVerCenter
\usepackage{environ}%NewEnviron,RenewEnviron
\usepackage{epigraph}%epigraph
\usepackage{etoolbox}%ifblank
\usepackage{euscript}%EuScript
\usepackage{fancyhdr}%lhead,rhead
\usepackage{float}%figure
\usepackage{graphicx}%includegraphics
\usepackage{hyperref}%backref,backrefalt,href,hyperref,url
\usepackage{lineno}%linenumbers
\usepackage{mathabx}%ring
\usepackage{mathrsfs}%mathscr
\usepackage{mathtools}%rcases,xRightarrow,xhookleftarrow,xhookrightarrow
\usepackage{multicol}%multicols
\usepackage{natbib}%bibsep
\usepackage{pgfplots}%axis,empty
\documentclass{report}%chapter,lrcorner,part,sV,subsection,subsubsection,thesection
\usepackage{setspace}%doublespacing,onehalfspacing,setstretch
\usepackage{soul}%st,ul
\usepackage{subcaption}%subfigure
\usepackage{subfig}%subfloat
\usepackage{systeme}%systeme
\usepackage{tikz-cd}%ar,arrow,tikzcd%tikz
\usepackage{tikz}%draw,fill,foreach,node,path,textcolor,tikzpicture,usetikzlibrary%xcolor
\usepackage{titlesec}%titleformat,titlespacing
\usepackage{tocloft}%cftsecnumwidth,cftsubsecnumwidth,counterwithout
\usepackage{todonotes}%todo
\usepackage{xcolor}%color,definecolor,rowcolor,rowcolors
\usepackage{xstring}%IfEndWith
